@import 'fonts.scss';

/* Main Page */

main {
    height: 100vh;
}



#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/background_grid.png");
    background-size: cover;

    .promotion {
        font-family: $sfprotextheavy;
        font-size: 0.75em;
        font-weight: 900;
        color: #dd2179;
        margin-bottom: 40px;
        margin-top: 70px;
        text-shadow: 0px 2px 20px #bbb;
    }

    .title {
        font-size: 3.3em;
        max-width: 60%;
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 700;
        color: #303133;
        margin-bottom: 30px;
        text-shadow: 0 2px 2px #bbb;
    }

    .subtitle {
        color: #777777;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 1.12em;
        margin-bottom: 30px;
        text-shadow: 0 6px 15px #aaa;
        letter-spacing: -0.03em;
    }

    .email_and_submit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 40px;
        height: 80px;

        input {
            background-color: #DD2179B9;
            width: 33%;
            max-width: 400px;
            height: 32px;
            border-radius: 18px;
            padding-left: 15px;
            font-size: 0.8em;
            border: none;
            color: #dddddd;
            margin-right: 20px;
            margin-bottom: 18px;

            &::placeholder {
                color: white;
                opacity: 0.7;
                font-size: 1.0em;
            }
        }

        .bigbutton {
            padding: 12px 25px;
            font-size: 1.1em;
            margin-bottom: 0;
            width: 105px;

            span {
                margin-left: 10px;
                text-shadow: 0 3px 18px #d6d6d6;
            }

            img {
                transform: scale(0.7, 0.7);
                margin-right: 7px;
            }

        }

    }



}


