@use 'common.scss';
@import 'fonts.scss';


.registermain {
    height: 89vh
}

.register_step {
    height: 100%;
    background-image: url("../../assets/background_grid.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .register_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // max-width: 250px;
        margin-top: -30px;

        .title {
            margin-top: 10px;
            font-family: $sfprotextbold;
            font-size: 1.3em;
            text-align: center;
        }

        .subtitle {
            margin-top: 10px;
            font-family: $sfprotextlight;
            color: #323232;
            text-align: center;
            font-size: 0.8em;
            max-width: 200px;
        }


        .bigbutton {
            padding: 6px 25px;
            font-size: 0.8em;
            max-width: 100px;
            align-self: center;
            margin: auto;
        }

        .passosrestantes {
            text-align: center;
            font-family: $sfprotextlight;
            font-size: 0.7em;
            font-weight: 100;
            color: #777;

            // color: 
            .highlight {
                font-family: $sfprotextbold;
                color: black;

            }
        }

        .form {
            // background-color: beige;
            // margin-top: 20px;
            width: 100%;
        }
    }
}


.passosrestantes {
    text-align: center;
    font-family: $sfprotextlight;
    font-size: 0.7em;
    font-weight: 100;
    color: #777;

    // color: 
    .highlight {
        font-family: $sfprotextbold;
        color: black;
    }
}

.title {
    margin-top: 10px;
    font-family: $sfprotextbold;
    font-size: 1.3em;
    text-align: center;
}

.bigbutton {
    padding: 6px 25px;
    font-size: 0.8em;
    max-width: 100px;
    align-self: center;
    margin: auto;
}