@use 'common.scss';
@import 'fonts.scss';




.register_container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 200px;
    align-self: flex-start;
    width: 100%;


    .details {
        align-self: center;
        padding-left: 80px;

        .passosrestantes {
            text-align: start;

        }

        .title {
            text-align: start;
        }

        ul {
            padding: 0;
            list-style-type: none;

            li {
                font-family: $sfprotextlight;
                font-size: 0.8em;
                color: #323232;

                span.checkmark {
                    margin-right: 12px;
                }
            }

        }

        .bigbutton {
            font-size: 1.0em;
            max-width: 80px;
            margin: 0;
        }
    }



    .desconto {
        // grid-area: ;
        position: relative;
        display: flex;
        font-family: $sfprotextsemi;
        flex-direction: column;
        width: 244px;
        height: 184px;
        border-radius: 18px;
        box-shadow: 0 0 6px #ccc;
        background-color: white;
        align-self: center;
        z-index: 0;

        .discount {
            font-family: $sfprotextsemi;
            text-align: end;
            font-size: 1.8em;
            font-weight: 300;
            font-family: $sfprotextlight;
            color: #DA2077;
            padding-right: 10px;
            opacity: 0;
            margin-bottom: 8px;
        }

        .plano {
            font-family: $sfprotextsemi;
            text-align: center;
            font-size: 1.2em;
            font-weight: 700;
            font-family: 'Montserrat';
            color: #DA2077;
        }

        .diferencaPrecos {
            font-size: 1.8em;
            font-family: 'Montserrat';
            font-weight: 700;
            color: black;
            display: flex;
            justify-content: center;

            .previous_price {
                font-size: 1.0em;
                font-weight: 400;
                text-decoration: line-through;
                margin-left: 10px;
            }

            .precoBase {
                font-size: 1.4em;
                text-align: right;
            }

        }


        .pormotorista {
            font-size: 1.2em;
            font-family: $sfprotextlight;
            text-align: center;
            color: #3B3B3B;
        }

        .mensalmente {
            font-size: 0.72em;
            font-family: $sfprotextlight;
            color: #3B3B3B;
            text-align: center;
        }

        .num_motoristas_container {
            width: 68px;
            height: 68px;
            border-radius: 100%;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -34px;
            left: -34px;
            box-shadow: 0 0 10px #ccc;
            background-color: white;
            opacity: 1;
            z-index: 12;


            & div:nth-of-type(1) {
                color: #DA2077;
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 1.6em;
                height: 55px;
            }


            & div:nth-of-type(2) {
                color: #DA2077;
                font-family: $sfprotextlight;
                font-weight: 300;
                font-size: 0.6em;
                margin-top: -25px;
            }


        }

    }



    .slider_container {
        grid-area: 2 / 1 / -1 / -1;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .motoristas_slider {
            height: 100px;
            margin-left: 20px;
            margin-top: 10px;
        }

        /* Custom slider styles */
        .motoristas_slider {
            -webkit-appearance: none;
            width: 360px;
            height: 8px;
            /* Thickness of the slider track */
            background: #DD217933;
            /* Light pink color for the track */
            outline: none;
            border-radius: 5px;
            border: 2px solid white;
        }

        /* Slider thumb styles */
        .motoristas_slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 30px;
            /* Size of the slider ball */
            height: 30px;
            background: #DD2179;
            /* Bright pink color for the ball */
            cursor: pointer;
            border-radius: 50%;
            border: 2px solid white;
        }

        .motoristas_slider::-moz-range-thumb {
            width: 30px;
            /* Size of the slider ball */
            height: 30px;
            background: #DD2179;
            /* Bright pink color for the ball */
            cursor: pointer;
            border-radius: 50%;
            border: 2px solid white;
            /* Removes default border in Firefox */
        }

        p {
            font-size: 0.8em;
            text-align: center;
        }


        .labels {
            display: flex;
            justify-content: space-between;
            margin-left: 20px;
            font-size: 0.7em;
            width: 100%;

            div {

                strong {
                    font-size: 1.0em;
                    font-weight: 800;
                }
            }
        }

    }

}